.ColorChoicesItem {
}

.ColorChoicesItem .color-border {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  /* background: #555; */
  background: rgba(112, 112, 112, 0.0915704);
}

.ColorChoicesItem .color-border.active {
  background: #555;
  /* background: rgba(112, 112, 112, 0.0915704); */
}

.ColorChoicesItem .color-image {
  width: 44px;
}

.ColorChoicesItem .color-description {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  padding: 1rem 2rem;
}

.ColorChoicesItem .color-description.active {
  visibility: visible;
}

.ColorChoicesItem .color-name {
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;

  color: #0f1c2d;
}

.ColorChoicesItem .color-price {
  font-weight: normal;
  font-size: 22px;

  color: #ab1725;
}
