.EngineChoicesItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 2rem;
  margin-bottom: 3rem;
  background: #f7f9fa;
  cursor: pointer;
}

.EngineChoicesItem .type {
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 2.83333px;

  color: #a8a8a8;
}

.EngineChoicesItem .type span {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2.83333px;

  color: #a8a8a8;
}

.EngineChoicesItem .type.active span {
  color: #ab1725;
}

.EngineChoicesItem .kwh,
.EngineChoicesItem .range {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2.83333px;

  color: #a8a8a8;
}

.EngineChoicesItem .type.active,
.EngineChoicesItem .kwh.active,
.EngineChoicesItem .range.active {
  color: #0f1c2d;
  font-weight: 500;
}

.EngineChoicesItem .indicator {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 2rem;
  background: #ab1725;
  visibility: hidden;
}

.EngineChoicesItem .add-price {
  position: absolute;
  bottom: -33px;
  right: 0;

  font-size: 22px;
  color: #ab1725;
  visibility: hidden;
}

.EngineChoicesItem .add-price.show,
.EngineChoicesItem .indicator.show {
  visibility: visible;
}
