.CustomFinalPage .main-content {
  display: flex;
  width: 100%;
}

.CustomFinalPage .final-model-details,
.CustomFinalPage .image-container {
  flex-grow: 1;
}

.CustomFinalPage .final-model-details h2 {
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 3.75px;
  margin: 4rem 0 1rem 0;

  color: #0f1c2d;
}

.CustomFinalPage .final-model-details h2 span {
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 3.75px;

  color: #0f1c2d;
}

.CustomFinalPage .final-model-details h2 .r {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 3.75px;

  color: #ab1725;
}

.CustomFinalPage .image-container img {
  padding: 10rem 0 0 2rem;
}

.CustomFinalPage .values-table hr {
  opacity: 0.3;
}

.CustomFinalPage .values-table > * {
  margin: 1.7rem 0;
}

.CustomFinalPage .values-table .row {
  display: flex;
  justify-content: space-between;
}

.CustomFinalPage .price {
  font-weight: 500;
  font-size: 22px;
  color: #ab1725;
}

.CustomFinalPage .label {
  font-size: 22px;
  color: #0f1c2d;
  font-weight: 400;
}

.CustomFinalPage .final-price span {
  font-size: 2rem;
}

.CustomFinalPage button {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 9.42222px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 4rem auto 0;
  cursor: pointer;

  color: #0f1c2d;
}
