.WheelsChoicesItems {
  position: relative;
}

.WheelsChoicesItems .wheel-image-container {
  text-align: center;
  width: 220px;
}

.WheelsChoicesItems .wheel-image {
  opacity: 0.5;
  width: 100%;
}

.WheelsChoicesItems.active .wheel-image {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

.WheelsChoicesItems .color-description {
  position: absolute;
  bottom: -60;
  left: 0;
  right: 0;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

.WheelsChoicesItems.active .color-description {
  visibility: visible;
}

.WheelsChoicesItems .color-name {
  font-size: 22px;
  text-align: center;

  color: #0f1c2d;
}

.WheelsChoicesItems .color-price {
  font-size: 22px;
  text-align: center;

  color: #ab1725;
}
