.Hero {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heading {
    position: absolute;
    top: 13%;
    left: 10%;
    z-index: 1;
  }

  .heading div:first-of-type {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 10.84px;
    padding-left: 9px;

    color: $red;
  }

  .heading div:last-of-type {
    font-weight: 400;
    font-size: 150px;
    letter-spacing: 12.5px;
    line-height: 1;
    text-transform: uppercase;

    color: $black;
  }

  .heading div:last-of-type span {
    font-weight: 500;
    font-size: 150px;
    color: $red;
  }

  .homeModelR {
    height: 241px;
  }

  .homeModelR img {
    width: 673px;
    transform: translateY(55px);
  }

  .call {
    background: none;
    border: none;
    margin-top: 4rem;
    z-index: 1;
  }

  .call a {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 9.42222px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    color: $black;
  }
}
